
<div class="button_container" id="toggle">
  <span class="top"></span>
  <span class="middle"></span>
  <span class="bottom"></span>
</div>

<div class="overlay" id="overlay">
  <nav class="overlay-menu">
    <ul>
      <li ><a class="page-scroll" href="#myCarousel">Home</a></li>
      <li><a class="page-scroll" href="#about-us">About us</a></li>
      <li><a class="page-scroll" href="#services">Services</a></li>
      <li><a class="page-scroll" href="#technology">Technology</a></li>
      <li><a class="page-scroll" href="#contact">Contact</a></li>
    </ul>
  </nav>
</div>

<!-- *************home page*********** -->
<!-- Carousel================================================== -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
    
  </ol>
  <div class="carousel-inner">
    <div class="item active carousel-1">
      <div class="container">
        <div class="carousel-caption">
          <h1>Example headline.</h1>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
<!--           <p><a class="btn btn-large btn-primary" href="#">Sign up today</a></p>
 -->        </div>
      </div>
    </div>
    <div class="item carousel-2">
      <div class="container">
        <div class="carousel-caption">
          <h1>Another example headline.</h1>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          
        </div>
      </div>
    </div>
    <div class="item carousel-3">
      <div class="container">
        <div class="carousel-caption">
          <h1>Another example headline.</h1>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          
        </div>
      </div>
    </div>
    <div class="item carousel-4">
      <div class="container">
        <div class="carousel-caption">
          <h1>Another example headline.</h1>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          
        </div>
      </div>
    </div>

  </div>
</div><!-- /.carousel -->
  
<!-- *************home page end*********** -->

<!-- *************about us start *********** -->
<div id="about-us">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <div class="heading">
          <h2>About us</h2>
        </div><!--heading-->
      </div><!--col-sm-12-->
    </div><!--row-->
    <div class="row">
      <div class="col-sm-12">
        <div class="col-sm-6 small-screan-center">
          <div class="about_content">
            <h3><b>Our company</b></h3>
            <p>Webfye is expert website design company spend significant time in building and advertising websites for an extensive variety for business experts. We provide ourselves on building wuality websites which shows the mirror of your company. </p>
          </div><!--about_content-->
          <div class="col-sm-2 small-screan-center">
            <a class="btn btn-large btn-primary" href="#">Learn more</a>
          </div>
        </div><!--col-sm-6--> 
      </div><!-- col-sm-12-->
    </div><!--row-->
  </div><!--container-->
</div>
<!-- *************about us end*********** -->
<!-- **************about us link start********** -->
<div class="middle-banner">
  <div class="container">
    <div class="row">
      <div class=" col-xs-6 middle-banner-text">
        <p>Web Development with <p class="edge">responsive & <br>rails<br> technology</p></p>
      </div>
      <div class=" col-xs-6 ">
<!--         <img src="#" width="500" height="300" class="img-responsive">
 -->      </div>
    </div>
  </div>
</div>

<!-- *************services start *********** -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css"> 
<div id="services">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="heading">
          <h2>Services</h2>
        </div><!-- heading -->
      </div><!-- col-sm-12 -->
    </div><!-- row -->
    <div class="row">
      <div class="col-md-3 text-center">
        <div class="service-effect">
        <div class="service1">
          <div class="icon-screen-desktop" style="font-size: 30px; text-align: center; line-height: 1.5; -moz-font-smoothing: grayscale;"></div>    
        </div>
        <h3 style="font-weight: bold;">Web Design</h3>
        <div class="service">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
      
        </div>
        </div>
      </div>
      <div class="col-md-3 text-center">
        <div class="service-effect">
        <div class="service1" >
          <div class="icon-equalizer" style="font-size: 30px; text-align: center; line-height: 1.5; -moz-font-smoothing: grayscale;"></div>  
        </div>
        <h3 style="font-weight: bold;">SEO Optimization</h3>
        <div class="service">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
        
        </div>
        </div>
      </div>
      <div class="col-md-3 text-center">
      <div class="service-effect">
        <div class="service1">
          <div class="icon-globe" style="font-size: 30px; text-align: center; line-height: 1.5; -moz-font-smoothing: grayscale;"></div>  
        </div>
        <h3 style="font-weight: bold;">E-marketing</h3>
        <div class="service">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
        </div>
        </div>
      </div>
      <div class="col-md-3 text-center">
        <div class="service-effect">
        <div class="service1">
          <div class="icon-cloud-upload" style="font-size: 30px; text-align: center; line-height: 1.5; -moz-font-smoothing: grayscale;"></div>     
        </div>
        <h3 style="font-weight: bold;">Domain Registration</h3>
        <div class="service">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
        
        </div>
        </div>
      </div>

    </div><!-- row -->
  </div><!-- container -->
</div><!-- services -->


<!-- *****************technologies start********************** -->

<div class="container"><hr class="recent-divider"></div>
<div id="technology" class="technology-sections">
<div class="container">
<div class="row">
<div class="tools-title">
  <h1>Technologies I use</h1>
</div>
<div class="tools-description">
  <p>With these technologies such as, HTML5, CSS3, JavaScript, Wordpress, Sass, Bootstrap,Ruby on Rails and more, Level Up your Business by creating modern websites.</p>
</div>
</div>
<br/>
  <div class="row"> 
    <div class="technologies">
      <ul>
        <li><img class="tools-img" src="assets/tech.png " ></li>
        <li><img class="tools-img" src="assets/tech.png " ></li>
        <li><img class="tools-img" src="assets/tech.png " ></li>
        <li><img class="tools-img" src="assets/tech.png " ></li>
      </ul>
       <ul>
        <li><img class="tools-img" src="assets/tech.png " ></li>
        <li><img class="tools-img" src="assets/tech.png " ></li>
        <li><img class="tools-img" src="assets/tech.png " ></li>
        <li><img class="tools-img" src="assets/tech.png " ></li>
      </ul>
      </div>
  </div>
  </div>
</div>
<!-- *****************technologies end********************** -->


<div id="contact-main">
<img src="assets/contact.jpg" style="width: 100vw; height: 100vh">
<div class="contact-black"></div>
<section class="contact section">
  <div class="container animatedParent animateOnce">
 
    <div class="row">
      <h3 class="contact-detail-title">Contact Info</h3>
        <div class="col-md-5">      
          <div class="contact-detail">
            <p>
              Suryabinayak 08, Bhaktapur <br/>
              Bagmati, Nepal <br/>
              PO Box : 12 <br/>
              Phone/Fax :  <a href="tel:977-01-6613372 ">+977-01-6613372</a> <br>
              Email :  <a href="mailto:subashsly33@gmail.com">subashsly33@gmail</a>
            </p>    
          </div>
        </div>
        <div class="col-md-1"></div>
        
        <div class="col-md-6">
        <!-- /.contact-info -->
        <div class="contact-form animated bounceInLeft slow" data-id="2" ng-controller="ExampleController">
          
        <%= form_for :post, multipart: true, remote: true do |f| %>
            <div class="row">
              <div class="col-md-6 col-sm-6">
                <div class="form-group">
                <%= f.text_field :name, data: { 'ng-model' => 'user.name' },  class: "form-control", placeholder:"Your Name *", :required => true %>
                  <span class="anim"></span>
                </div>
              </div>
              <div class="col-md-6 col-sm-6">
                <div class="form-group">
                <%= f.text_field :email, type: "email", data: { 'ng-model' => 'user.email' }, class: "form-control", placeholder:"Your Email *", :required => true %>
                  <span class="anim"></span>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="form-group">

                <%= f.text_area :message, class:"form-control", placeholder:"Drop Some Words *", rows:"5"%>
                  <span class="anim"></span>
                </div>
              </div>
            </div>
           <input type="button" ng-click="reset()" value="Reset" />
            <div class="form-group">
              <section id="subber">
             
              <%= f.submit "Send", data: { 'ng-click' => 'update(user)' }, class:"btn btn-lg btn-block btn-flat btn-danger" %>
              </section>


              
            </div>
          <% end %>


        </div><!-- bounce end -->
        <!-- /.contact-form -->
      </div>

    </div><!-- row end-->
  </div>
</section>
<div class="copyright">
    <p>&copy 2016 subash shahi. All Rights Reserved</p>
  </div>
</div>

<!-- /.contact -->



<div >




